body {
    background-color: pink;
}

.centerText{
    text-align: center;
}



#imagesL{
  width: 25%;
  padding: 10px;
  text-align: center;
}

#imagesR{
  width: 25%;
  padding: 10px;
  text-align: center;
}

#blocc{
  display: block;
}


