<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

    <!-- Bootstrap -->

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="tipsanimation.js"></script>
  <title>Food Tips</title>
  
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Recipies</a></li>
          <li class="active"><a href="p1">Tips</a></li>
          <li><a href="p2">Contact</a></li>
        </ul>
      </div>
    </nav>
    
    <!--page content-->
    <h1>Food Tips</h1>
	<table>
	  <tr>
		<th>Tip<th>
	  </tr>
	  <tr>
		<td id="solu1">Best way to fry potatos: (Click me)</td>
		<td class="dontshow" id="tipso1">Slice the potatoes, soak them for 5 minutes, oil them, and fry them on a non-stick pan.</td>
	  </tr>
	  <tr>
		<td id="solu2">Making the best guacamole: (Click me)</td>
		<td class="dontshow" id="tipso2">Find the ripest avocados possible, add spices and tomato for extra flavor, add lime for more flavor and to keep it from going brown</td>
	  </tr>
	  <tr>
		<td id="solu3">The best spaghetti ever made: (Click me)</td>
		<td class="dontshow" id="tipso3">Don't add oil to your boiling water or noodles, add the pasta to the sauce...not visa versa, cook the noodles last to have the freshest noodles in your spaghetti!
	  </tr>
	  <tr>
		<td id="solu4">Who doesn't love a refreshing smoothie, but who wants a bad smoothie?: (Click me)</td>
		<td class="dontshow" id="tipso4">Don't use milk, always try to use some sort of fruit juice. Add about 1/4 avocado for a richer taste. Lastly, use fruits that go well together, not just the first thing you see!</td>
	  </tr>
	  <tr>
		<td id="solu5">Learn to make a fantastic waffle: (Click me)</td>
		<td class="dontshow" id="tipso5">Start off by preheating your waffle iron while you stir your eggs, and beat your other waffle ingredients. After this, spray your waffle iron with non-stick cooking spray, and cook your waffle until it turns golden brown.</td>
	  </tr>
	  <tr>
		<td id="solu6">Sandwiches are great, let's make one: (Click me)</td>
		<td class="dontshow" id="tipso6">Use the bread of your choice. Some must need ingredients are tomato and lettuce, but make sure nothing is soggy. Put some unions, and your choice of meat inside. Toast your bread until it reaches a perfect golden state!</td>
	  </tr>
	  <tr>
		<td id="solu7">Salad is very healthy, but it can also be very tasty!: (Click me)</td>
		<td class="dontshow" id="tipso7">Get some fresh lettuce(crunchy is best), some tomatoes and some cherry tomatoes, carrots, cucumbers, unions, and any other vegetables of your chice. Afterwards, top it all off with a about 2 teaspoons of olive oil and vinegar dressing!</td>
	  </tr>
	</table>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
