<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script type="text/javascript" src="{{url_for('static',filename='page2.js')}}"> </script>
    <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

    <!-- Bootstrap -->
 
    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <title>Page 2 - My Webpage</title>	
  
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Recipies</a></li>
          <li><a href="p1">Tips</a></li>
          <li class="active"><a href="p2">Contact</a></li>
        </ul>
      </div>
    </nav>
    
    <!--page content-->
    <div class="container">
    <div class="contact-form">
    <h1>Contact Us</h1>
    <p>Enter Your First Name:</p>
    <input id="firstname" type="text"/>
    <p id="fntl"> Your First Name is too long</p>
    <p id="fnts">Your First Name is too short</p>
    <p id="nsc">No SPECIAL CHARACTERS!</p>
    <p id="pen">Please Enter your Name</p>
    <p> Enter Your Last Name:</p>
    <input id="lastname" type="text"/>
    <p id="lntl">Your Last Name is too Long</p>
    <p id="lnts">Your Last Name is too Short</p>
    <p id="peln">Please Enter Your Last Name</p>
    <p id="nsc2">No Special Characters</p>
    <p> Enter Your Email Adress</p>
   	<input id="email" type="text"/>
   	<p id="emtl">Your Email Is Too Long</p>
   	<p id="emts"> Your Email Is Too Short</p>
   	<p id="peem">Please Enter your Email</p>
   	<p>Enter your Message:</p>
   	<input id="message" type="text"/>
   	<p id="noProf">No Profanity!</p>
	<p id="mtl"> Your Message is Too Long</p>
  	<p id="mts"> Your Message is Too Short</p>
  	<p id="pem">Please Enter your Message</p>
  	<div class="seperator1"></div>
   	<input id="send" type="submit" value="Send Message"/>
   	<p id="sent">Your Message has been sent!</p>
		</div>
	   </div>
	   
	<!---<div class="contact-text">
		<p id="ph#">Phone Number: 555.555.5555</p>
		<p id="emtext"> Email: foodcompanyemail@example.com</p>
		<p id="adress">124 Conch Street</p>
	</div>---> 
    
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
